<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca</title>
    <link th:href="@{/styleCrudLibro.css}" rel="stylesheet">
</head>

<body>
    <div th:replace="~{formAddLibro}"></div>
    <div th:replace="~{alertas/alertaEliminarLibro}"></div>
    <header class="header-container">
        <div class="put-logo">
            <img class="img-logo" th:src="@{/logo.png}" alt="Logo">
        </div>
        <div class="put-title">
            CULTURA Y LIBROS
        </div>
        <div class="put-input">
            <input class="search" type="search">
        </div>
        <nav class="container-botones">
            <a class="links" th:href="@{/index}">INICIO</a>
            <a class="links" href="">CONTACTENOS</a>
            <a class="links" th:href="@{/crudLibros}">LIBROS</a>
            <a class="links" href="">AUTORES</a>
            <a class="links" href="">LIBROS AUTOREADOS</a>
        </nav>
    </header>
    <main class="main-container">
        <div class="title-tabla-container">
            <div class="middle">
                Solicitud de libros
            </div>
            <div class="middle">
                <div class="boton-container" onclick="desplegarModal()">
                    <div class="put-button">
                        <div class="circulo">+</div>
                    </div>
                    <div class="text">NUEVO LIBRO</div>
                </div>
            </div>
        </div>
        <div class="titles-table">
            <div class="row-subtitle">ID LIBRO</div>
            <div class="row-subtitle">NOMBRE</div>
            <div class="row-subtitle">PRECIO</div>
            <div class="row-subtitle">ISBN</div>
            <div class="row-subtitle">ACCIONES</div>
        </div>
        <div class="tabla-container">

            <div th:each="Libro: ${listica}" class="row-content">
                <div th:replace="~{editarLibro}"></div>
                <div class="divisions" th:text="${Libro.libroId}"></div>
                <div class="divisions" th:text="${Libro.nombreLibro}"></div>
                <div class="divisions" th:text="${Libro.precioPublico}"></div>
                <div class="divisions" th:text="${Libro.isbn}"></div>
                <div class="divisions" id="select-buttons">
<a class="edit-buttons" href="" data-id="">V</a>
<a class="edit-buttons update-button" href="" th:data-id="${Libro.libroId}">E</a>
<a class="edit-buttons delete-button" th:data-id="${Libro.libroId}">B</a>
                </div>
            </div>

        </div>

    </main>
    <footer class="footer-container"></footer>
    <script>
        const modal = document.getElementById("modal-main")
        function desplegarModal() {
            modal.classList.add("ver")
        }
        function cerrarModalCito() {
            modal.classList.remove("ver")

        }

    </script>
    <script th:src="@{js/scriptAlerta.js}"></script>
</body>

</html>