<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud Libro Autoreado</title>
    <link th:href="@{/styleCrudLibro.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>
    <div class="desplazar-button">
        <button id="izq" class="ton"><i class="bi bi-chevron-left"></i></button>
        <button id="der" class="ton"><i class="bi bi-chevron-right"></i></button>
        
            </div>
    <div th:replace="~{agregarAutoreado}"></div>
    <div th:replace="~{alertas/eliminarAutoreado}"></div>
    <header class="header-container">
        <div class="put-logo">
            <img class="img-logo" th:src="@{/logo.png}" alt="Logo">
        </div>
        <div class="put-title">
            CULTURA Y LIBROS
        </div>
        <div class="put-input">
            <input class="search" type="search">
        </div>
        <nav class="container-botones">
            <a class="links" th:href="@{/index}">INICIO</a>
            <a class="links" href="">CONTACTENOS</a>
            <a class="links" th:href="@{/crudLibros}">LIBROS</a>
            <a class="links" th:href="@{/crudAutores}">AUTORES</a>
            <a class="links" href="">LIBROS AUTOREADOS</a>
        </nav>
    </header>
    <main class="main-container">
        <div class="title-tabla-container">
            <div class="middle">
                Solicitud de libros
            </div>
            <div class="middle">
                <div class="boton-container" onclick="desplegarModal()">
                    <div class="put-button">
                        <div class="circulo">+</div>
                    </div>
                    <div class="text">NUEVO LIBRO</div>
                </div>
            </div>
        </div>
        <div class="titles-table">
            <div class="row-subtitle">ID LIBRO</div>
            <div class="row-subtitle">ID AUTOR</div>
            <div class="row-subtitle">FECHA</div>
            <div class="row-subtitle">OBSERVACIONES</div>
            <div class="row-subtitle">ACCIONES</div>
        </div>
        <div id="tabla" class="tabla-container">

            <div th:each="LibroAutoreado: ${lista}" class="row-content">
                <div th:replace="~{actualizarLibroAutoreado}"></div>
                <div class="divisions" th:text="${LibroAutoreado.libroId}"></div>
                <div class="divisions" th:text="${LibroAutoreado.autorId}"></div>
                <div class="divisions" th:text="${LibroAutoreado.fecha}"></div>
                <div class="divisions" th:text="${LibroAutoreado.observaciones}"></div>
                <div class="divisions" id="select-buttons">
<a class="edit-buttons update-button" href="" th:data-id="${LibroAutoreado.autorId}"><i class="bi bi-pencil-fill"></i></a>
<a class="edit-buttons delete-button" th:data-id="${LibroAutoreado.autorId}"><i class="bi bi-trash2-fill"></i></a>
                </div>
            </div>

        </div>

    </main>
    <footer class="footer-container"></footer>
    <script>
        const modal = document.getElementById("modal-main")
        function desplegarModal() {
            modal.classList.add("ver")
        }
        function cerrarModalCito() {
            modal.classList.remove("ver")

        }

    </script>
    <script th:src="@{js/scriptAlerta.js}"></script>   
</body>
</html>