/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 2 sep. 2023, 21:05:07
    Author     : santiago
*/
body{
padding: 0;
margin: 0;
box-sizing: border-box;

}
:root{
--color-title:white;

}
.header-container{
width: 100%;
height:17vh;
display: flex;
justify-content: space-around;
align-items: center;
background-color: #004AAD;
}
.header-container .put-logo{
width:10%;
height: 70%;
display: flex;
justify-content: center;
align-items: center;
}
.put-logo .img-logo{
width: 85%;
height: 88%;

}
.header-container .put-title{
width: 10%;
height: 70%;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
font-size: 2vw;
font-weight: 600;

color: var(--color-title);
}
.header-container .put-input{
    width: 32%;
    height: 40%;
    display: flex;
   
    margin-left: 5%;
}
.put-input .search{
width: 100%;
height: 100%;
display: flex;
border-radius: 1vw;
border: solid 0.29vw #71c9e9;

}
.header-container .container-botones{
width:45%;
height: 70%;
display: flex;
justify-content: space-around;
align-items: center;
margin-left: 5%;

}
.container-botones .links{
text-decoration: none;
display: flex;
justify-content: center;
align-items: center;
font-size: 1.2vw;
color: var(--color-title);

}
.links:hover{
text-decoration: underline;
color: lightgreen;

}
.main-container{
width: 100%;
height: 70vh;
display: flex;
background-color: #D9E4E8;

}
.main-container .title-img-container{
width: 30%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: space-between;


}
.title-img-container .put-subtitle{
width: 100%;
height: 20%;
display: flex;

justify-content: center;
align-items: center;
text-align: center;
font-size: 3.5vw;
}
.title-img-container .put-img{
width: 100%;
height: 63.5%;
display: flex;
align-items: end;
justify-content: center;


}
.put-img .img-try{
width: 85%;
height: 80%;

}
.main-container .text-container{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: aliceblue;
}
.text-container .card{
width: 38%;
height: 85%;
display: flex;

flex-direction: column;

}
.card .mitad{
width: 100%;
height: 50%;
display: flex;

justify-content: center;
align-items: center;
text-align: center;
font-size: 1.3vw;
}
.mitad .title{
width: 100%;
height: 30%;
display: flex;
justify-content: center;
align-items: center;
font-size: 2.2vw;

align-self: flex-end;

}
.mitad .libro{
width: 70%;
height: 95%;

}
.footer-container{
width: 100%;
height:13vh ;
display: flex;
background-color: #004AAD;

}
